<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

<script src="js/dept.js"></script>
</head>
<body ng-app="courseApp" ng-controller="courseController">
	<div class="container">
		<div class="col-sm-4 col-sm-offset-2">
			<div class="page-header">
				<h1>courses Info</h1>
			</div>
			<!-- FORM -->
			<form name="courseForm" ng-submit="courseSave()">
			
				<div class="form-group">
					<label>Department Name : </label>
					<select class="form-control" ng-model="course.departmentId">
					<option ng-repeat="dept in departments" value={{dept.id}}>
					{{dept.deptName}}
					</option>
					</select>
					<span ng-show="errorCode">{{errorCode}}</span>
				</div>
				<div class="form-group">
					<label>Semister Name : </label>
					<select class="form-control" ng-model="course.semisterId">
					<option ng-repeat="semi in semisters" value={{semi.id}}>
					{{semi.name}}
					</option>
					</select>
					<span ng-show="errorCode">{{errorCode}}</span>
				</div>
				<div class="form-group">
					<label>Course Code : </label> <input type="text"
						name="courseCode" class="form-control"
						ng-model="course.code"> <span ng-show="errorName">{{errorName}}</span>
				</div>
				<div class="form-group">
					<label>Course Name : </label> <input type="text"
						name="courseName" class="form-control"
						ng-model="course.name"> <span ng-show="errorCode">{{errorCode}}</span>
				</div>
				<div class="form-group">
					<label>Credit : </label> <input type="text"
						name="credit" class="form-control"
						ng-model="course.credit"> <span ng-show="errorCode">{{errorCode}}</span>
				</div>
				<div class="form-group">
					<label>Description : </label> <input type="text"
						name="courseDesc" class="form-control"
						ng-model="course.description"> <span ng-show="errorCode">{{errorCode}}</span>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<script src="js/course.js"></script>
</body>
</html>