<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script> 
</head>
<body ng-app="postApp" ng-controller="postController">
<div class="container">
<div class="col-sm-4 col-sm-offset-2">
    <div class="page-header"><h1>Departments Info</h1></div>
    <!-- FORM -->
    <form name="userForm" ng-submit="submitForm()">
    <div class="form-group">
        <label>Department Code : </label>
        <input type="text" name="deptCode" class="form-control" ng-model="department.deptCode">
        <span ng-show="errorCode">{{errorCode}}</span>
    </div>
    <div class="form-group">
        <label>Department Name : </label>
        <input type="text" name="deptName" class="form-control" ng-model="department.deptName">
        <span ng-show="errorName">{{errorName}}</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<script src="js/dept.js"></script>
</body>
</html>